swagger: "2.0"
info:
  version: 4.1.12-02-SNAPSHOT
  title: LIS Web OE Api
  description: "Contracts for WEB OE rest services"
host: "lv3.isd.dp.ua:7701"
basePath: "/gcm/web/app/oe"
produces:
  - "application/json"


tags:
  - name: setup
    description: Setup  service
    x-cache-control: 300
  - name: employee setup
    description: Setup emploee services
  - name: choice
    description: Choice services
    x-cache-control: 86400
  - name: test catalog setup
    description: Test catalog setup services
  - name: insurance
    description: Insurance services
  - name: medical necessity
    description: Medical Necessity Service
  - name: options
    description: Options Service
  - name: order
    description: Order Service
  - name: patient
    description: Patients Service
  - name: visit
    description: Visit Service
  - name: requisition
    description: Requisition Service
  - name: search
    description: Search Service
  - name: user defined field
    description: User defined field Service
  - name: user defined field setup
    description: User defined field setup Service
  - name: billing validator
    description: Billing validator service
  - name: mrn validator
    description: MRN validator service


parameters:
  value:
    in: query
    name: value
    type: string
    description: free text criteria
  itemsCount:
    in: query
    name: itemsCount
    description: limits number of search results
    type: integer
    format: int32
    default: 20
  employeeValue:
    name: value
    description: employee code, firstName or lastName
    type: string
    in: query
    



paths:
  /setup/clinics:
    get:
      summary: Get active clinics where any part of code or name corresponds to the given free text criteria
      operationId: getClinics
      parameters:
        - $ref: '#/parameters/value'
        - name: code
          in: query
          description: clinic code
          type: string
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/SetupClinic'
      tags:
        - setup

  /setup/patient-clients:
    get:
      summary: Get extramural or outreach clinics witch suit search criteria
      operationId: getPatientClients
      parameters:
        - name: "value"
          in: query
          description: clinic code/name search criteria
          type: string
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/SetupClinic'
      tags:
        - setup

  /setup/visit-clinics:
    get:
      summary: Get clinics by att doc and code/name criteria, if doc is not set - returns all clinics by code/name
      operationId: getClinicsAvailableForVisit
      parameters:
        - name: value
          in: query
          description: clinic code/name search criteria
          type: string
        - name: attDoc
          in: query
          description: attending doctor code to narrow clinic choice
          type: string
        - name: patientClient
          in: query
          description: extramural or outreach clinic set on patient
          type: string
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/SetupClinic'
      tags:
        - setup

  /setup/physicians:
    get:
      summary: Get active physicians where any part of code or name corresponds to the given free text criteria
      operationId: getPhysicians
      parameters:
        - $ref: '#/parameters/value'
        - name: code
          in: query
          description: code
          type: string
        - name: clinic
          in: query
          description: clinic code to filter attending doctors, full match
          type: string
        - name: role
          in: query
          description: doctor role code, full match
          type: string
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/SetupPhysician'
      tags:
        - setup

  /setup/diagnoses:
    get:
      summary: Get active diagnoses where any part of code or name corresponds to the given free text criteria
      operationId: getDiagnoses
      parameters:
        - $ref: '#/parameters/value'
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Diagnosis'
      tags:
        - setup

  /setup/insurancecarriers:
    get:
      summary: Get a list of InsuranceCarrierInfo objects that have only 'code' and 'name' fields.
      operationId: getInsurances
      parameters:
        - name: code_or_name
          description: free text criteria. It is a part of Insurance Carrier code or name.
          in: query
          type: string
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/InsuranceCarrierInfo'
      tags:
        - setup

  /setup/testdefinitions:
    get:
      summary: Get active testDefinitions where any part of ID or name corresponds to the given free text criteria
      operationId: getTestDefinitions
      parameters:
        - $ref: '#/parameters/value'
        - name: testTypes
          description: types of tests for filtering
          in: query
          type: array
          items:
            type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/SetupTestDefinition'
      tags:
        - setup

  /setup/indications:
    get:
      summary: Get active indications
      operationId: getIndications
      parameters:
        - $ref: '#/parameters/value'
        - name: primary
          in: query
          type: boolean
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/IndicationSetup'
      tags:
        - setup

  /setup/priorities:
    get:
      summary: Get active priorities
      operationId: getPriorities
      parameters:
        - $ref: '#/parameters/value'
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Priority'
      tags:
        - setup

  /setup/body-sites:
    get:
      summary: Get bodysites
      operationId: getBodySites
      parameters:
        - $ref: '#/parameters/value'
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/BodySite'
      tags:
        - setup

  /setup/specimens:
    get:
      summary: Get a list of specimens where any part of code or name corresponds to the given value
      operationId: getSpecimens
      parameters:
        - $ref: '#/parameters/value'
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/SetupSpecimen'
      tags:
        - setup

  /setup/reasons:
    get:
      summary: Get correspond reasons for categories. If category is empty return all reasons
      operationId: getReasons
      parameters:
        - name: categories
          description: choice codes, can be empty
          in: query
          type: array
          items:
            type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Reason'
      tags:
        - setup

  /setup/test-sources:
    get:
      summary: Get a list of test code versions with preferable, acceptable specimens and tubes.
      operationId: getTestSources
      parameters:
        - name: test-code-versions
          description: test code versions
          in: query
          type: array
          items:
            type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/TestSources'
      tags:
        - setup

  /setup/micro-medias:
    get:
      operationId: getGetMicroMedias
      parameters:
        - name: code_or_name
          description: free text criteria. It is a part of Insurance Carrier code or name.
          in: query
          type: string
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/MicroMedia'
      tags:
        - setup

  /setup/drugs:
    get:
      operationId: getDrugs
      parameters:
        - name: code_or_name
          description: free text criteria. It is a part of Drug code or name.
          in: query
          type: string
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Drug'
      tags:
        - setup

  /setup/test-ordering-keypads:
    get:
      description: List of tests ordering keypads
      operationId: getTestOrderingKeypad
      parameters:
        - name: dcKeypad
          description: Requisition requestng doctor keypad code
          in: query
          type: string
        - name: clKeypad
          description: Requisition clinic keypad code
          in: query
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/SetupTestDefinition' #List<OrderingKeypad<TestDefinition>>
      tags:
        - setup

  /setup/specimen-ordering-keypads:
    get:
      description: List of specimens ordering keypads
      operationId: getSpecimenOrderingKeypad
      parameters:
        - name: dcKeypad
          description: Requisition requestng doctor keypad code
          in: query
          type: string
        - name: clKeypad
          description: Requisition clinic keypad code
          in: query
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/SetupSpecimen' #List<OrderingKeypad<Specimen>>
      tags:
        - setup

  /setup/call-request-recipients:
    get:
      summary: Recipients for call request
      operationId: getCallRequestRecipients
      parameters:
        - name: value
          description: free text criteria
          in: query
          type: string
          required: true
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Recipient'
      tags:
        - setup

  /setup/qualities:
    get:
      summary: List of qualities
      operationId: getQualities
      parameters:
        - name: value
          description: free text criteria
          in: query
          type: string
          required: true
        - name: type
          description: Quality type
          in: query
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Quality'
      tags:
        - setup

  /setup/bodysite-result-keypad:
    get:
      summary: bodySite result ResulKeypad
      operationId: getBodySiteKeypad
      parameters:
        - name: specType
          description: specimen type, can be empty
          in: query
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ResulKeypad'
      tags:
        - setup

  /setup/insurance-group:
    get:
      summary: active insurance groups
      operationId: getInsuranceGroups
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/InsuranceGroup'
      tags:
        - setup

  /setup/employees/collectors:
    get:
      summary: Get a list of collecting employees
      operationId: getCollectingEmployees
      parameters:
        - $ref: '#/parameters/employeeValue'
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Employee'
      tags:
        - employee setup

  /setup/employees/receivers:
    get:
      summary: Get a list of receiving employees
      operationId: getReceivingEmployees
      parameters:
        - $ref: '#/parameters/employeeValue'
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Employee'
      tags:
        - employee setup

  /setup/employees/for-media-plating:
    get:
      summary: Get a list of plating employees
      operationId: getPlatingEmployees
      parameters:
        - $ref: '#/parameters/employeeValue'
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Employee'
      tags:
        - employee setup

  /setup/employees/residents:
    get:
      summary: Get a list of residents
      operationId: getResidents
      parameters:
        - $ref: '#/parameters/employeeValue'
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Employee'
      tags:
        - employee setup

  /setup/employees/pathologists:
    get:
      summary: Get a list of pathologists
      operationId: getPathologists
      parameters:
        - $ref: '#/parameters/employeeValue'
        - $ref: '#/parameters/itemsCount'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Employee'
      tags:
        - employee setup

  /setup/departments/redirection:
    post:
      operationId: getDepartmentsByTestCodeVersions
      summary: Get departments by test code versions
      parameters:
        - name: testCodeVersionsAndStatus
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/TestCodeVersionWithStatus'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Department'
      tags:
        - setup

  /setup/workstations/redirection:
    post:
      operationId: getWorkstationsByTestCodeVersions
      summary: Get workstations by test code versions
      parameters:
        - name: testCodeVersionsAndStatus
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/TestCodeVersionWithStatus'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Workstation'
      tags:
        - setup

  /setup/choices/setup/choices/countries:
    get:
      operationId: getCountries
      summary: Get required countries
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/languages:
    get:
      operationId: getLanguages
      summary: Get required languages
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/relation-to-insured:
    get:
      operationId: getRelationshipsToInsured
      summary: Get relationships to insured
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/relation-to-emergency:
    get:
      operationId: getRelationshipsToEmergency
      summary: Get required relationships to emergency
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/maritals:
    get:
      operationId: getMaritals
      summary: Get required maritals
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/ethnicities:
    get:
      operationId: getEthnicities
      summary: Get required ethnicities
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/sex:
    get:
      operationId: getSex
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/races:
    get:
      operationId: getRaces
      summary: Get required races
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/species:
    get:
      operationId: getSpecies
      summary: Get required species
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/religions:
    get:
      operationId: getReligions
      summary: Get required religions
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/patient-types:
    get:
      operationId: getPatientTypes
      summary: Get required patient types
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/admission-types:
    get:
      operationId: getAdmissionTypes
      summary: Get required admission types
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/draw-types:
    get:
      operationId: getDrawTypes
      summary: Get required draw types
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/proffesional-suffixes:
    get:
      operationId: getProffesionalSuffixes
      summary: Get required proffesional suffixes
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/counties:
    get:
      operationId: getCounties
      summary: Get required counties
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/employments:
    get:
      operationId: getEmployments
      summary: Get required employment types
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/family-plans:
    get:
      operationId: getFamilyPlans
      summary: Get active family plan types
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /setup/choices/payments:
    get:
      operationId: getPayments
      summary: Get active payment types
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Choice'
      tags:
        - choice

  /tsearch/single-test:
    get:
      operationId: getTestSetupForCatalog
      parameters:
        - name: code
          in: query
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/CatalogTestSetup'
      tags:
        - test catalog setup

  /tsearch/tests:
    get:
      operationId: getTestSetups
      parameters:
        - name: code
          in: query
          type: string
          required: true
        - name: type
          in: query
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/TestSearchResult'
      tags:
        - test catalog setup


  /insurance/patient-insurances/patient-insurances:
    get:
      operationId: getPatientInsurances
      description: active insurances from Patient or Visit levels
      parameters:
        - name: mrn
          description: patient mrn
          in: query
          type: string
          required: true
        - name: billing-number
          description: visit billing number
          in: query
          type: string
        - name: items-count
          description: limits number of search results
          type: string
          in: query
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Insurance'
      tags:
        - insurance


  /medical-necessity:
    get:
      operationId: readMedicalNecessity
      parameters:
        - name: order-number
          type: string
          in: query
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/MedicalNecessity'
      tags:
        - medical necessity

  /medical-necessity/calculate:
    post:
      operationId: calculateMedicalNecessity
      parameters:
        - name: medicalNecessity
          in: body
          schema:
            $ref: '#/definitions/MedicalNecessity'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/MedicalNecessity'
      tags:
        - medical necessity


  /options/order-entry:
    get:
      operationId: getRequisitionOptions
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/RequisitionOptions'
      tags:
        - options

  /options/patient-maintenance:
    get:
      operationId: getPatientMaintenanceOptions
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/PatientMaintenanceOptions'
      tags:
        - options


  /orders:
    put:
      summary: Save order
      operationId: save
      parameters:
        - name: dtoOrder
          in: body
          schema:
            $ref: '#/definitions/Case'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/OperationResult'
      tags:
        - orders

  /orders/preprocess:
    post:
      summary: Preprocess order
      operationId: preprocessOrder
      parameters:
        - name: dtoRequisition
          in: body
          schema:
            $ref: '#/definitions/Case'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ProcessResult'
      tags:
        - orders

  /orders/{number}:
    get:
      summary: open order
      operationId: openOrder
      parameters:
        - name: number
          in: path
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ProcessResult'
      tags:
        - orders

  /orders/{number}/details:
    get:
      summary: Get order detailed info
      operationId: getOrderDetailedInfo
      parameters:
        - name: number
          in: path
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/OrderDetailedInfo'
      tags:
        - orders

  /orders/{number}/move:
    post:
      summary: Move order
      operationId: orderMoveToVisit
      parameters:
        - name: number
          in: path
          type: string
          required: true
        - name: billing
          in: query
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ResultOperation'
      tags:
        - orders

  /orders/redirect-tests:
    post:
      summary: Redirect tests
      operationId: redirectTests
      parameters:
        - name: testRedirectionOrder
          in: body
          schema:
            $ref: '#/definitions/TestRedirectionOrder'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/TestRedirectionOrder'
      tags:
        - orders


  /patients:
    put:
      summary: Save patient
      operationId: savePatient
      parameters:
        - name: patientsToSave
          in: body
          schema:
            $ref: '#/definitions/PatientInfo'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ProcessPatientResult'
      tags:
        - patient

  /patients/{mrn}:
    get:
      summary: Get patient info
      operationId: getPatientInfo
      parameters:
        - name: mrn
          in: path
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/PatientInfo'
      tags:
        - patient

  /patients/{mrn}/orders:
    get:
      summary: Get patient orders
      operationId: getPatientOrders
      parameters:
        - name: mrn
          in: path
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ReleasedOrders'
      tags:
        - patient

  /patients/{mrn}/orders/per-visit:
    get:
      summary: Get patient orders per visit
      operationId: getOrdersInfo
      parameters:
        - name: mrn
          in: path
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/VisitOrderInfo'
      tags:
        - patient

  /patients/{mrn}/requisitions:
    get:
      summary: Get patient requisitions
      operationId: getPatientRequisitions
      parameters:
        - name: mrn
          in: path
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/PatientRequisitions'
      tags:
        - patient

  /patients/{mrn}/requisitions/initiate:
    get:
      summary: Initiate requisition
      operationId: initiateRequisition
      parameters:
        - name: mrn
          in: path
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Case'
      tags:
        - patient

  /patients/{mrn}/visits:
    get:
      summary: Get all visits
      operationId: getAllVisits
      parameters:
        - name: mrn
          in: path
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/VisitBriefInfo'
      tags:
        - patient

  /patients/{mrn}/visits/available:
    get:
      summary: Get available visits
      operationId: getAvailableVisits
      parameters:
        - name: mrn
          in: path
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/VisitBriefInfo'
      tags:
        - patient

  /patients/{mrn}/visits/{billing}/move:
    post:
      summary: Get available visits
      operationId: moveVisitToPatient
      parameters:
        - name: mrn
          in: path
          type: string
          required: true
        - name: billing
          in: path
          type: string
          required: true
        - name: mrn
          in: query
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            type: boolean
      tags:
        - patient

  /patients/{mrn}/visits/range:
    get:
      summary: Get visits range
      operationId: getVisitsRange
      parameters:
        - name: mrn
          in: path
          type: string
          required: true
        - name: from
          in: query
          type: string
          required: false
        - name: count
          in: query
          type: string
          required: false
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/VisitsBatch'
      tags:
        - patient

  /patients/{mrn}/visits/count:
    get:
      summary: Get visits count
      operationId: getVisitsCount
      parameters:
        - name: mrn
          in: path
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            type: integer
            format: int32
      tags:
        - patient


  /requisitions:
    put:
      summary: Save requisition
      operationId: save
      parameters:
        - name: dtoRequisition
          in: body
          schema:
            $ref: '#/definitions/Case'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ProcessResult'
      tags:
        - requisition

  /requisitions/preprocess:
    post:
      summary: preprocess requisition
      operationId: preprocessRequisition
      parameters:
        - name: dtoRequisition
          in: body
          schema:
            $ref: '#/definitions/Case'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ProcessResult'
      tags:
        - requisition

  /requisitions/release:
    put:
      summary: release requisition
      operationId: release
      parameters:
        - name: requisitionList
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/Case'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/OperationResult'
      tags:
        - requisition

  /requisitions/merge:
    post:
      summary: merge requisition
      operationId: mergeRequisitions
      parameters:
        - name: requisitionsParts
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/RequisitionPart'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ProcessResult'
      tags:
        - requisition

  /requisitions/{number}/details:
    get:
      summary: get requisition detailed info
      operationId: getRequisitionDetailedInfo
      parameters:
        - name: number
          in: path
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/OrderDetailedInfo'
      tags:
        - requisition


  /search/pm:
    get:
      summary: search patient data
      operationId: searchPatientData
      parameters:
        - name: search-criteria
          in: query
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/SingleSearchResults'
      tags:
        - search

  /search/ord:
    get:
      summary: search patient order data
      operationId: searchPatientOrderData
      parameters:
        - name: search-criteria
          in: query
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/SingleSearchResults'
      tags:
        - search

  /search/advanced:
    get:
      summary: search advanced patient order data
      operationId: searchAdvancedPatientData
      parameters:
        - name: lastName
          type: string
          in: query
        - name: firstName
          type: string
          in: query
        - name: dob
          type: string
          in: query
        - name: mrn
          type: string
          in: query
        - name: ssn
          type: string
          in: query
        - name: chartNumber
          type: string
          in: query
        - name: orderNumber
          type: string
          in: query
        - name: billingNumber
          type: string
          in: query
        - name: clientCode
          type: string
          in: query
        - name: externalPatId
          type: string
          in: query
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/PatientData'
      tags:
        - search


  /visits/{billing}/header:
    get:
      summary: Get single visit header
      operationId: getSingleVisitHeader
      tags:
        - visit
      parameters:
        - name: billing
          in: path
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/VisitHeader'

  /visits/{billing}/merge:
    post:
      summary: merge visits
      operationId: mergeVisits
      tags:
        - visit
      parameters:
        - name: billing
          in: path
          type: string
          required: true
        - name: billing
          in: query
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            type: boolean

  /user-defined-field/test-level:
    get:
      summary: read testLevel user defined field
      operationId: readTestLevelUserDefinedField
      tags:
        - user defined field
      parameters:
        - name: testCodeVersions
          in: query
          required: true
          type: array
          items:
            type: string
        - name: promptTypes
          in: query
          required: true
          type: array
          items:
            type: string
        - name: ownerId
          in: query
          required: false
          type: integer
          format: int64
        - name: ownerType
          in: query
          required: false
          type: string
      #          enum: '#/definitions/UserDefinedFieldOwnerType'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/UserDefinedField'


  /user-defined-field-setup:
    get:
      summary: read testLevel user defined field
      operationId: readUserDefinedFieldSetupByTest
      tags:
        - user defined field setup
      parameters:
        - name: testCodeVersions
          in: query
          required: true
          type: array
          items:
            type: string
        - name: promptTypes
          in: query
          required: true
          type: array
          items:
            type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/UserDefinedFieldSetup'

  /validator/billing/is-available:
    get:
      summary: is billing available
      operationId: isAvailableBilling
      tags:
        - billing validator
      parameters:
        - name: billing
          in: query
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            type: boolean


  /validator/mrn/is-available:
    get:
      summary: is mrn available
      operationId: isAvailableMRN
      tags:
        - mrn validator
      parameters:
        - name: mrn
          in: query
          type: string
          required: true
      responses:
        '200':
          description: successful operation
          schema:
            type: boolean


x-common-columns:
  recid:
    title: record identifier
    type: integer
    format: int64


definitions:
  AbnStatus:
    type: string
    enum:
      - T
      - N
      - P
    x-enumNames:
      - TO_PRINT
      - NOT_REQUIRED
      - PRINTED

  AddressInfo:
    title: AddressInfo model
    properties:
      street:
        type: string
      suite:
        type: string
      city:
        type: string
      state:
        type: string
      country:
        $ref: '#/definitions/Dictionary'
      county:
        type: string
      zip:
        type: string
      phone:
        type: string
      phone2:
        type: string

  AddHocUserPrefs:
    title: AddHocUserPrefs model
    properties:
      preferableSpecimen:
        type: string
      bodySite:
        type: string
      bodySiteDescription:
        type: string

  Antibiotic:
    title: Antibiotic model
    properties:
      recid:
        $ref: '#/x-common-columns/recid'
      code:
        type: string
      name:
        type: string

  AssigningInfo:
    title: Antibiotic model
    properties:
      namespaceId:
        type: string
      universalId:
        type: string
      universalIdType:
        $ref: '#/definitions/Dictionary'

  BaseEntity:
    title: Base Entity model
    properties:
      recid:
        $ref: '#/x-common-columns/recid'
      requisitionId:
        type: integer
        format: int64
      previousOperation:
        $ref: '#/definitions/Operation'
      operation:
        $ref: '#/definitions/Operation'
      operationReason:
        type: string
      operationComment:
        type: string
      isOperationPerformed:
        type: boolean
      itemStatus:
        type: string

  BodySite:
    title: Body site model
    properties:
      code:
        type: string
      name:
        type: string

  Case:
    properties:
      caseIdentifier:
        type: integer
        format: int64
      mergedRequisitionsIds:
        type: array
        items:
          type: integer
          format: int64
      mergedRequisitionsNumbers:
        type: array
        items:
          type: string
      orderId:
        type: integer
        format: int64
      requisitionId:
        type: integer
        format: int64
      orderNumber:
        type: string
      foreignAccNumber:
        type: string
      requisitionNumber:
        type: string
      mode:
        $ref: '#/definitions/RequisitionModeEnum'
      parentOrderNumbers:
        type: array
        items:
          type: string
      visit:
        $ref: '#/definitions/VisitBriefInfo'
      orderingClinic:
        $ref: '#/definitions/SetupClinic'
      orderingLocation:
        $ref: '#/definitions/Location'
      orderingPhysician:
        $ref: '#/definitions/SetupPhysician'
      reportToDoctors:
        type: array
        items:
          $ref: '#/definitions/SetupPhysician'
      auxNumber:
        type: string
      priority:
        $ref: '#/definitions/Priority'
      patient:
        $ref: '#/definitions/PatientDetailedInfo'
      specimenCollectionRequest:
        $ref: '#/definitions/SpecimenCollectionRequest'
      orderingLocationSelectedByDefault:
        type: boolean
      reviewSummaryNeeded:
        type: boolean
      testList:
        type: array
        items:
          $ref: '#/definitions/RequisitionTest'
      specimenList:
        type: array
        items:
          $ref: '#/definitions/RequisitionSpecimen'
      userDefinedFieldList:
        type: array
        items:
          $ref: '#/definitions/UserDefinedField'
      diagnoses:
        type: array
        items:
          $ref: '#/definitions/Diagnosis'
      comment:
        type: string
      clinicalHistory:
        type: string
      internalNotes:
        type: array
        items:
          $ref: '#/definitions/Note'
      insurances:
        type: array
        items:
          $ref: '#/definitions/Insurance'
      microCultureComment:
        $ref: '#/definitions/MicComment'
      micAntibioticList:
        type: array
        items:
          $ref: '#/definitions/Antibiotic'
      pathologist:
        $ref: '#/definitions/Employee'
      resident:
        $ref: '#/definitions/Employee'
      orderLevelIndications:
        type: array
        items:
          $ref: '#/definitions/Indication'
      testSpecimenAttachments:
        type: array
        items:
          $ref: '#/definitions/TestSpecimenAttach'
      medicalNecessityItems:
        type: array
        items:
          $ref: '#/definitions/MedicalNecessityItem'

  CatalogSpecimenSetup:
    title: Specimen setup model
    x-codegen-accessors: true
    properties:
      code:
        type: string
      name:
        type: string

  CatalogTestDefinition:
    title: Catalog TestDefinition model
    x-codegen-accessors: true
    properties:
      code:
        type: string
      secondaryCode:
        type: string
      thirdCode:
        type: string
      name:
        type: string
      technology:
        type: string
      technologyCode:
        type: string
      technologyEntity:
        $ref: '#/definitions/CodeName'
      methodology:
        type: string
      methodologySeq:
        type: integer
        format: int32
      instructions:
        type: string
      comments:
        type: string
      timeBetweenOrders:
        type: integer
        format: int32
      synonyms:
        type: array
        items:
          type: string
      orderableIndividually:
        type: boolean
      orderableAsStat:
        type: boolean
      orderableAsUrgent:
        type: boolean
      requiredICDAtOrdering:
        type: boolean
      preferableSpecimen:
        $ref: '#/definitions/CatalogSpecimenSetup'
      preferableTube:
        $ref: '#/definitions/TubeSetup'
      acceptableSpecimens:
        type: array
        items:
          $ref: '#/definitions/CatalogSpecimenSetup'
      acceptableTubes:
        type: array
        items:
          $ref: '#/definitions/TubeSetup'
      realVolume:
        type: number
        format: double
      addupVolume:
        type: number
        format: double
      specimenMinVolume:
        type: number
        format: double
      volumeUnit:
        type: string
      components:
        type: array
        items:
          $ref: '#/definitions/TestSetupIdentifier'
      partOfPanels:
        type: array
        items:
          $ref: '#/definitions/TestSetupIdentifier'
      sameOeCategoryTests:
        type: array
        items:
          $ref: '#/definitions/TestSetupIdentifier'
      resultFields:
        type: array
        items:
          $ref: '#/definitions/TestResultFieldSetup'
      collectionInstruction:
        type: string
      aliquoteInstruction:
        type: string
      collectionLabelText:
        type: string
      collectionType:
        type: string
      separateTube:
        type: boolean
      separateAliquotTube:
        type: boolean
      preferableAliquotTube:
        $ref: '#/definitions/TubeSetup'
      specialCases:
        type: array
        items:
          $ref: '#/definitions/TestSpecialCasesSetup'
      stability:
        type: string
      transport:
        type: string
      storage:
        type: string
      preservation:
        type: string
      laboratory:
        type: string
      department:
        type: string
      frequency:
        type: string
      message:
        type: string
      minVolumeComments:
        type: string
      departments:
        type: array
        items:
          $ref: '#/definitions/DepartmentSetup'
      referenceLabFee:
        type: string
      hospitalCharge:
        type: string
      mnemonic:
        type: string
      workstations:
        type: array
        items:
          type: string

  CatalogTestSetup:
    title: Catalog Test Setup model
    properties:
      testDefinitions:
        type: array
        items:
          $ref: '#/definitions/CatalogTestDefinition'
    x-codegen-accessors: true

  Choice:
    title: Choice setup model
    properties:
      code:
        type: string
      name:
        type: string
      choiceID:
        type: integer
        format: int64

  SetupClinic:
    title: Clinic setup model
    properties:
      code:
        type: string
      name:
        type: string
      orderingKeypad:
        type: string
      orderingLocationCode:
        type: string
      contact:
        type: string
      phone:
        type: string
      phoneExt:
        type: string
      patientType:
        type: string

  CodedEntity:
    x-codegen-import-mapping: com.softcomputer.gene.web.api.common.CodedEntity

  CodeName:
    title: CodeName model
    x-codegen-accessors: true
    properties:
      code:
        type: string
      name:
        type: string

  Collector:
    title: Contact model
    properties:
      id:
        type: string
      lastName:
        type: string
      firstName:
        type: string
      middleName:
        type: string
      active:
        type: boolean

  Contact:
    title: Contact model
    properties:
      contactMethod:
        $ref: '#/definitions/ContactMethod'
      phoneNumber:
        type: string
      phoneExt:
        type: string

  ContactInfo:
    title: Contact Info model
    properties:
      lastName:
        type: string
      firstName:
        type: string
      middleName:
        type: string
      relationship:
        $ref: '#/definitions/Dictionary'
      title:
        type: string
      suffix:
        type: string
      profSuffix:
        type: string
      language:
        $ref: '#/definitions/Dictionary'
      address:
        $ref: '#/definitions/AddressInfo'
      alternativeContact:
        type: string

  ContactMethod:
    type: string
    enum:
      - PRIMARY_PHONE
      - ALTERNATIVE_PHONE
      - FAX
      - PAGER

  DeltaRule:
    title: Delta rule model
    x-codegen-accessors: true
    properties:
      ageInUnitsTo:
        type: integer
        format: int32
      ageUnitTo:
        type: string
      ageInUnitsFrom:
        type: integer
        format: int32
      ageUnitFrom:
        type: string
      direction:
        type: string
      currentReason:
        $ref: '#/definitions/CodeName'
      previousReason:
        $ref: '#/definitions/CodeName'
      cannedMessage:
        $ref: '#/definitions/CodeName'
      position:
        type: integer
        format: int32
      delta:
        type: string
      currentValue:
        type: string
      previousValue:
        type: string
      abnFlag:
        type: string

  Department:
    title: Department setup model
    properties:
      code:
        type: string
      name:
        type: string

  DepartmentSetup:
    title: Department setup model
    x-codegen-accessors: true
    properties:
      code:
        type: string
      name:
        type: string
      laboratoryName:
        type: string

  Diagnosis:
    title: Diagnosis setup model
    properties:
      code:
        type: string
      name:
        type: string

  DiagnosisAssigningStatus:
    type: string
    enum:
      - U
      - C
    x-enumNames:
      - DIAGNOSIS_ASSIGNED_BY_USER
      - DIAGNOSIS_ASSIGNED_BY_SOFT_COMPLIANCE

  Dictionary:
    title: Dictionary model
    properties:
      id:
        type: string
      name:
        type: string

  Drug:
    title: Drug model
    properties:
      code:
        type: string
      name:
        type: string

  Employee:
    title: Employee model
    properties:
      code:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      type:
        type: string

  Indication:
    title: Indication model
    properties:
      code:
        type: string
      description:
        type: string
      position:
        type: integer
        format: int64
      type:
        $ref: '#/definitions/IndicationType'

  IndicationSetup:
    title: Indication setup model
    properties:
      code:
        type: string
      name:
        type: string

  IndicationType:
    type: string
    enum:
      - P
      - A
    x-enumNames:
      - PRIMARY
      - ADDITIONAL

  Insurance:
    title: Insurance model
    properties:
      code:
        type: string
      name:
        type: string

  InsuranceCarrierInfo:
    title:  Insurance carrier info model
    properties:
      code:
        type: string
      name:
        type: string
      contact:
        type: string
      address:
        $ref: '#/definitions/AddressInfo'
      isActive:
        type: boolean
      isAux:
        type: boolean
      isVisitOnly:
        type: boolean

  InsuranceGroup:
    title:  Insurance group model
    properties:
      code:
        type: string
      name:
        type: string

  InsuranceInfo:
    title:  Insurance info model
    properties:
      carrier:
        $ref: '#/definitions/InsuranceCarrierInfo'
      accountNumber:
        type: string
      groupId:
        type: string
      position:
        type: integer
        format: int64
      comment:
        type: string
      policyHolder:
        $ref: '#/definitions/PolicyHolderInfo'
      active:
        type: boolean
      deleted:
        type: boolean
      auxCarrierUsed:
        type: boolean
      auxId:
        type: integer
        format: int32
      prefix:
        type: string
      memberId:
        type: string
      effectiveDate:
        type: string
        format: date-time
      expiryDate:
        type: string
        format: date-time

  Location:
    title: Location model
    properties:
      code:
        type: string
      name:
        type: string
      address:
        $ref: '#/definitions/AddressInfo'
      isColCenter:
        type: boolean
      isLocation:
        type: boolean
      primaryForTestRouting:
        type: boolean

  Media:
    title: Media model
    allOf:
      - $ref: '#/definitions/BaseEntity'
      - type: "object"
        properties:
          caseIdentifier:
            type: integer
            format: int64
          attachedTestsIds:
            type: array
            items:
              type: integer
              format: int64
          tubeType:
            type: string
          tubeName:
            type: string
          micType:
            $ref: '#/definitions/MicType'
          micCode:
            type: string
          addedDT:
            type: string
            format: date-time
          addedTechID:
            type: string
          platedDT:
            type: string
            format: date-time
          platedTechID:
            type: string
          generatedDT:
            type: string
            format: date-time
          generatedBy:
            type: string
          mediaTubeNumber:
            type: string
          parentMedia:
            type: integer
            format: int64
          bodySite:
            type: string
          statusDisp:
            type: string
          status:
            type: string
          mediaStatusDT:
            type: string
            format: date-time
          mediaStatusTechID:
            type: string
          barcode:
            type: string
          generationType:
            $ref: '#/definitions/MediaGenerationType'
          workupCode:
            type: string
          isolateNumber:
            type: string
          organismCode:
            type: string
          workupStatus:
            type: string
          workupStatusDT:
            type: string
            format: date-time
          workupStatusTechID:
            type: string
          microResultEntry:
            type: string

  MediaGenerationType:
    type: string
    enum:
      - A
      - M
      - P
      - R
    x-enumNames:
      - AUTOMATICALLY
      - MANUALLY
      - POSTED
      - REFLEXED

  MedicalNecessity:
    title:  Medical necessity model
    properties:
      code:
        type: string
      name:
        type: string

  MedicalNecessityItem:
    title:  medical necessity item model
    properties:
      recid:
        type: integer
        format: int64
      test:
        type: string
      childTests:
        type: array
        items:
          type: string
      billableTest:
        type: string
      billableTestName:
        type: string
      itemsCount:
        type: integer
        format: int32
      usedPayor:
        type: string
      mncStatus:
        $ref: '#/definitions/MncStatus'
      abnStatus:
        $ref: '#/definitions/AbnStatus'
      performingDepartmentCode:
        type: string
      performingLaboratory:
        type: string
      performingLaboratoryName:
        type: string
      testLevelDiagnoses:
        type: array
        items:
          $ref: '#/definitions/Diagnosis'
      diagnosisAssigningStatus:
        $ref: '#/definitions/DiagnosisAssigningStatus'
      modifiers:
        type: array
        items:
          $ref: '#/definitions/Modifier'
      price:
        type: number
      cptCode:
        type: string

  Message:
    title:  Message model
    properties:
      id:
        type: string
      severity:
        type: string
      key:
        type: string
      text:
        type: string
      params:
        type: object
        additionalProperties:
          type: string

  MicComment:
    title:  Mic model
    properties:
      recid:
        $ref: '#/x-common-columns/recid'
      comment:
        type: string

  MicroMedia:
    title:  Micro Media model
    properties:
      insurances:
        type: array
        items:
          $ref: '#/definitions/Insurance'
      usedPayor:
        type: string
      medicalNecessityItems:
        type: array
        items:
          $ref: '#/definitions/MedicalNecessityItem'
      orderLevelDiagnoses:
        type: array
        items:
          $ref: '#/definitions/Diagnosis'
      patientType:
        type: string
      warnings:
        type: array
        items:
          type: string

  MicType:
    type: string
    enum:
      - M
      - I
      - P
      - D
      - R
      - W
    x-enumNames:
      - MEDIA
      - ISOLATE
      - PANEL
      - DRUG
      - RAPID_TEST
      - WORKUP

  MncStatus:
    type: string
    enum:
      - F
      - FE
      - FF
      - FS
      - P
      - E
    x-enumNames:
      - FAILED
      - FAILED_EXPERIMENTAL
      - FAILED_FREQUENT
      - FAILED_STATUTORY
      - PASSED
      - PROBLEM

  Modifier:
    title:  Quality model
    properties:
      recid:
        $ref: '#/x-common-columns/recid'
      code:
        type: string
      isAbnModifier:
        type: boolean
      position:
        type: integer
        format: int64

  Note:
    title:  Note model
    properties:
      recid:
        $ref: '#/x-common-columns/recid'
      text:
        title: Note's text
        type: string
      at:
        title: Date when entered
        type: string
        format: date-time
      by:
        title: Note's author.
        type: string
      active:
        title: Is note active
        type: boolean
      ownerType:
        title: Type of note owner
        type: string
      requestedFrom:
        title: Requested from value
        type: string
      operation:
        title: Operation
        type: string

  Operation:
    type: string
    enum:
      - None
      - Update
      - Reject
      - UnReject
      - Cancel
      - Add
      - Delete
      - InternalDelete
      - Discard
      - Reordered
    x-enumNames:
      - NONE
      - UPDATE
      - REJECT
      - UN_REJECT
      - CANCEL
      - ADD
      - DELETE
      - INTERNAL_DELETE
      - DISCARD
      - REORDERED

  OperationResult:
    title:  Operation result model
    allOf:
      - $ref: '#/definitions/ProcessResult'
      - type: "object"
        properties:
          itemsToPrint:
            type: array
            items:
              type: string
              $ref: '#/definitions/PrintItem'

  OrderBriefInfo:
    title:  Order Brief Info model
    properties:
      recid:
        type: string
      orderNumber:
        type: string
      requisitions:
        type: string
      orderStatus:
        type: string
      orderingClinic:
        $ref: '#/definitions/OrderClinic'
      orderingPhysicians:
        $ref: '#/definitions/OrderPhysician'
      spesimenCollectedDateTime:
        type: string
        format: date-time
      tubeReceivedDateTime:
        type: string
        format: date-time
      orderedTests:
        type: array
        items:
          $ref: '#/definitions/OrderTest'
      orderedTubes:
        type: array
        items:
          $ref: '#/definitions/OrderTube'
      uncollected:
        type: boolean

  OrderDetailedInfo:
    title:  Order Detailed Info model
    properties:
      orderNumber:
        type: string
      standing:
        type: boolean
      requisitionId:
        type: string
      orderedDttm:
        type: string
        format: date
      priority:
        type: string
      status:
        type: string
      orderingPhysician:
        type: string
      orderingLocation:
        type: string
      enteredBy:
        type: string
      tests:
        type: array
        items:
          $ref: '#/definitions/OrderedTestDetailedInfo'
      priorityName:
        type: string
      orderingPhysicianName:
        type: string
      orderingLocationName:
        type: string
      enteredByName:
        type: string
      requisitionNumbers:
        type: string
      auxNumber:
        type: string
      clinicCode:
        type: string
      clinicName:
        type: string
      billingNumber:
        type: string

  OrderedTestDetailedInfo:
    title:  Ordered Test Detailed Info model
    properties:
      id:
        type: string
      name:
        type: string
      tubeTypeIdsString:
        type: string
      collectedDttm:
        type: string
        format: date-time
      isCancelled:
        type: boolean
      testCode:
        type: string
      priority:
        type: string
      priorityName:
        type: string

  OrderClinic:
    title: Order clinic model
    properties:
      code:
        type: string
      name:
        type: string

  OrderPhysician:
    title: Physician model
    properties:
      code:
        type: string
      name:
        type: string

  OrderTest:
    title:  Order test model
    properties:
      code:
        type: string
      isCancelled:
        type: boolean

  OrderTube:
    title: Tube model
    properties:
      recId:
        type: string
      type:
        type: string
      aliquoted:
        type: string

  PatientAlert:
    title:  Patient Alert model
    properties:
      auxId:
        type: string
      alert:
        $ref: '#/definitions/Dictionary'
      dateTime:
        type: string
        format: date-time
      enteredBy:
        type: string
      active:
        type: boolean
      text:
        type: string

  PatientData:
    title:  Patient data model
    properties:
      lastName:
        type: string
      firstName:
        type: string
      middleName:
        type: string
      suffix:
        type: string
      dateOfBirth:
        type: string
        format: date
      chartNumber:
        type: string
      mrn:
        type: string
      ssn:
        type: string
      age:
        type: string
      sex:
        type: string
      isCalculatedDob:
        type: boolean

  PatientDetailedInfo:
    title:  Patient Detailed Info model
    properties:
      phone:
        type: string
      race:
        $ref: '#/definitions/Dictionary'
      species:
        $ref: '#/definitions/Dictionary'
      emergencyContact:
        $ref: '#/definitions/ContactInfo'
      primaryInsurance:
        $ref: '#/definitions/InsuranceInfo'
      dvaNumber:
        type: string
      pensionNumber:
        type: string
      alerts:
        type: array
        items:
          $ref: '#/definitions/PatientAlert'
      comment:
        type: string
      notes:
        type: array
        items:
          $ref: '#/definitions/Note'

  PatientDetailsInfo:
    title:  Patient Details Info model
    properties:
      motherMaidenLastName:
        type: string
      motherMaidenFirstName:
        type: string
      motherMaidenMiddleName:
        type: string

  PatientInfo:
    title:  Patient Info model
    properties:
      id:
        type: string
      lastName:
        type: string
      firstName:
        type: string
      middleName:
        type: string
      dob:
        type: string
        format: date-time
      dod:
        type: string
        format: date-time
      maritalStatus:
        $ref: '#/definitions/Dictionary'
      title:
        type: string
      ethnicity:
        $ref: '#/definitions/Dictionary'
      mrn:
        type: string
      sex:
        $ref: '#/definitions/Dictionary'
      chartNumber:
        type: string
      suffix:
        type: string
      professionalSuffix:
        type: string
      language:
        $ref: '#/definitions/Dictionary'
      species:
        $ref: '#/definitions/Dictionary'
      religion:
        $ref: '#/definitions/Dictionary'
      race:
        $ref: '#/definitions/Dictionary'
      eso:
        $ref: '#/definitions/Dictionary'
      ssn:
        type: string
      pensionNumber:
        type: string
      dvaNumber:
        type: string
      comment:
        type: string
      notes:
        type: array
        items:
          $ref: '#/definitions/Note'
      room:
        type: string
      bed:
        type: string
      updateDateTime:
        type: string
        format: date-time
      address:
        $ref: '#/definitions/AddressInfo'
      isPrivate:
        type: boolean
      clientId:
        type: string
      locationGroupName:
        type: string
      emergencyContact:
        $ref: '#/definitions/ContactInfo'
      patientDetails:
        $ref: '#/definitions/PatientDetailsInfo'
      insurances:
        type: array
        items:
          $ref: '#/definitions/InsuranceInfo'
      mrnAssigningAuthority:
        $ref: '#/definitions/AssigningInfo'
      mrnAssigningFacility:
        $ref: '#/definitions/AssigningInfo'
      ssnAssigningAuthority:
        $ref: '#/definitions/AssigningInfo'
      pensionAssigningAuthority:
        $ref: '#/definitions/AssigningInfo'
      dvaAssigningAuthority:
        $ref: '#/definitions/AssigningInfo'
      alerts:
        type: array
        items:
          $ref: '#/definitions/PatientAlert'
      visits:
        type: array
        items:
          $ref: '#/definitions/Visit'
      patientClient:
        type: string
      isCalculatedDOB:
        type: boolean
      hcnProvince:
        type: string
      hcnVersion:
        type: string
      externalId:
        type: string
      registrationDate:
        type: string
        format: date
      patientUnknownIdentity:
        type: boolean

  PatientMaintenanceOptions:
    title: Requisition options model
    properties:
      G_DOB_HOUR_MIN:
        type: boolean
        x-codegen-option-info:
          valueType: boolean
          optionType: option
          customSetter: MicroSourceGroupRuleSetter.class
          isGlobal: true
      G_OE_PAT_SEC_ID:
        type: boolean
      G_OE_PAT_CLIENT:
        type: boolean
      G_OE_SRCH_PAT_EXT_ID:
        type: boolean
      G_PRE_MRN:
        type: string
      G_REQ_PAT_NAME:
        type: string
      G_DOB_REQ:
        type: string
      G_PRE_BILLING:
        type: string
      G_REQ_ADM_PHYS:
        type: boolean
      G_AE_DEF_EMPTYDOC:
        type: string
      G_ALLOW_EDIT_MED_SERVICE:
        type: boolean
      G_LOWERCASE_PAT:
        type: boolean
      G_REQ_ATT_PHYS:
        type: boolean
      G_PARTIAL_SSN:
        type: boolean
      HCNTitle:
        type: boolean
      EthnicityAsEthnicGroup:
        type: boolean
      EnterNewMRN:
        type: boolean
      Multiethnicity:
        type: boolean
      EnterNewBillNum:
        type: boolean
      CanEditChartNumber:
        type: boolean
      CheckSumUsedInAcc:
        type: boolean
      SSNMask:
        type: string
      TimeFormatOnScreens:
        type: string
      DateFormatOnScreens:
        type: string
      AgeInDaysNum:
        type: integer
        format: int32
      AgeInMonthsNum:
        type: integer
        format: int32
      AgeInWeeksNum:
        type: integer
        format: int32
      PhoneMask:
        type: string
      StateMask:
        type: string
      ProvinceTitle:
        type: boolean
      ProvinceMask:
        type: string

  PatientRequisitions:
    title: Patient Requisitions model
    properties:
      requisitions:
        type: array
        items:
          $ref: '#/definitions/RequisitionPart'

  PolicyHolderInfo:
    title: Policy Holder Info model
    properties:
      lastName:
        type: string
      firstName:
        type: string
      middleName:
        type: string
      dob:
        type: string
        format: date
      relationship:
        $ref: '#/definitions/Dictionary'
      sex:
        $ref: '#/definitions/Dictionary'
      title:
        type: string
      suffix:
        type: string
      language:
        $ref: '#/definitions/Dictionary'
      address:
        $ref: '#/definitions/AddressInfo'
      ssn:
        type: string
      employerName:
        type: string
      payment:
        type: string
      familyPlan:
        type: string
      employment:
        type: string

  PrintItem:
    x-codegen-import-mapping: com.softcomputer.gene.web.api.printing.PrintItem

  Priority:
    title: Priority setup model
    properties:
      code:
        type: string
      name:
        type: string
      collectPriority:
        type: string
      priorityValue:
        type: integer
        format: int32

  ProcessPatientResult:
    title:  Process Patient Result model
    properties:
      patientInfo:
        $ref: '#/definitions/PatientInfo'
      messages:
        type: array
        items:
          $ref: '#/definitions/Message'
      billing:
        type: string

  ProcessResult:
    title:  Process result model
    properties:
      cases:
        type: array
        items:
          $ref: '#/definitions/Case'
      processStatus:
        $ref: '#/definitions/ProcessStatus'

  ProcessStatus:
    title:  Process Status model
    properties:
      status:
        type: boolean
      savedStatus:
        type: boolean
      statusNumber:
        type: integer
        format: int32
      problems:
        type: array
        items:
          $ref: '#/definitions/ProblemInfo'

  ProblemInfo:
    title:  Problem Info model
    required:
      - orderNumber
      - critical
    properties:
      system:
        description: SoftGene order number. It can be empty when order wasn't created.
        type: string
      orderNumber:
        description: Problem description. (Required)
        type: string
      critical:
        description: Is problem critical. Critical problems interrupt request processing. (Required)
        type: boolean
      problemId:
        description: Problem id(Needed only for portal)
        type: string

  Quality:
    title:  Quality model
    properties:
      code:
        type: string
      name:
        type: string
      type:
        type: string
      comment:
        type: string
      category:
        type: string
      richComment:
        type: string

  RangeLinkType:
    type: string
    enum:
      - SPECIMEN
      - DOCTOR
      - CLINIC
      - PATIENT_TYPE

  Reason:
    title: Reason model
    properties:
      code:
        type: string
      name:
        type: string

  ReleasedOrders:
    title: Released Orders model
    properties:
      collectedOrders:
        type: array
        items:
          $ref: '#/definitions/OrderBriefInfo'
      uncollectedOrders:
        type: array
        items:
          $ref: '#/definitions/OrderBriefInfo'

  RequisitionPart:
    title: Requisition Part model
    properties:
      requisitionId:
        type: integer
        format: int64
      requisitionGroupId:
        type: integer
        format: int64
      requisitionNumber:
        type: string
      orderingClinicCode:
        type: string
      orderingClinicName:
        type: string
      orderingPhysicianCode:
        type: string
      orderingPhysicianName:
        type: string
      billing:
        type: string
      orderedTests:
        type: array
        items:
          $ref: '#/definitions/RequisitionTestBriefInfo'
      orderedSpecimens:
        type: array
        items:
          $ref: '#/definitions/RequisitionSpecBriefInfo'
      toBeCollectedDateTime:
        type: integer
        format: date-time
      pinned:
        type: boolean
      orderingLocation:
        type: integer
      patientType:
        type: integer

  RequisitionSpecBriefInfo:
    title: Requisition Test Brief Info model
    properties:
      specRecid:
        type: integer
        format: int64
      specCode:
        type: string
      specName:
        type: string

  RequisitionTestBriefInfo:
    title: Requisition Test Brief Info model
    properties:
      testRecid:
        type: integer
        format: int64
      testCodeVersion:
        type: string
      testCode:
        type: string
      testName:
        type: string
      testParentRecid:
        type: integer
        format: int64
      hasParent:
        type: boolean
      testType:
        $ref: '#/definitions/TestType'
      system:
        type: string
      addHocUserPrefs:
        $ref: '#/definitions/AddHocUserPrefs'
      needSpecimenPrompt:
        type: boolean

  ResultOperation:
    title: Result operation model
    properties:
      operationDone:
        type: boolean

  Recipient:
    title: Recipient model
    properties:
      type:
        $ref: '#/definitions/RecipientType'
      contacts:
        type: array
        items:
          $ref: '#/definitions/Contact'
      instructions:
        type: string
      code:
        type: string
      name:
        type: string

  RecipientType:
    type: string
    enum:
      - REQUESTING_DOCTOR
      - ATTENDING_DOCTOR
      - OTHER_DOCTOR
      - ORDERING_CLINIC
      - OTHER_CLINIC
      - PATIENT_CLINIC
      - GROUP_OF_EMPLOYEES
      - REFERENCE_LAB
      - MEDICAL_SERVICE
      - EMPLOYEE
      - OTHER

  RequisitionModeEnum:
    type: string
    enum:
      - Standard
      - Standing
      - Child
      - AddOn

  RequisitionOptions:
    title: Requisition options model
    properties:
      G_REQ_REQ_DR:
        type: boolean
      G_DEF_REQ_DR:
        type: boolean
      G_NOT_UPD_ORD_DOC:
        type: boolean
      G_TEST_ORDDR_UPD:
        type: boolean
      G_DEF_COLBY:
        type: boolean
      G_DEF_RECBY:
        type: boolean
      G_VALID_COLBY:
        type: boolean
      G_DEF_COLDT:
        type: string
      G_DEF_RECDT:
        type: string
      DateFormatOnScreens:
        type: string
      TimeFormatOnScreens:
        type: string
      G_DEF_COL_EXPECT:
        type: array
        items:
          $ref: '#/definitions/SpecimenCollectionScheduleOption'
      G_AUTO_SPEC_LAB:
        type: boolean
      G_AUTO_MLABEL_SHOW_DLG_OE:
        type: boolean
      G_DONT_CANCEL_RFLX:
        type: boolean
      G_VAL_PLATE_BY:
        type: string
      G_DEF_PLATETECH:
        type: boolean
      G_DEF_PLATEDATE:
        type: boolean
      G_DEF_PLATETIME:
        type: boolean
      G_AE_FILTER_NON_ACCEPTABLE:
        type: boolean
      G_AE_SOURCE_MIC:
        type: string
      UsedWordInsteadOfDuplicate:
        type: string
      CheckMedicalNecessity:
        type: boolean

  RequisitionTube:
    title: Tube model
    allOf:
      - $ref: '#/definitions/BaseEntity'
      - type: "object"
        properties:
          caseIdentifier:
            type: integer
            format: int64
          reqTubeId:
            type: integer
            format: int64
          tubeType:
            type: string
          tubeName:
            type: string
          aliquotes:
            type: array
            items:
              $ref: '#/definitions/RequisitionTube'
          destinationDepId:
            type: integer
            format: int64
          destinationDepCode:
            type: string
          currentDepCode:
            type: string
          requestingDepCode:
            type: string
          allRequestingDepCodes:
            type: string
          protocol:
            type: string
          plannedBy:
            type: string
          routingProtocol:
            type: string
          firstAction:
            type: string
          attachedTestsIds:
            type: array
            items:
              type: integer
              format: int64
          qualities:
            type: array
            items:
              $ref: '#/definitions/Quality'
          comment:
            type: string
          instruction:
            type: string
          capacity:
            type: number
            format: double
          temperature:
            type: string
          status:
            type: string
          receivedDate:
            type: string
            format: 'date-time'
          receivedBy:
            type: string
          alqParentId:
            type: string
          alqIsPlanned:
            type: string
          lastActionCode:
            type: string
          isRecollect:
            type: boolean
          barcode:
            type: string
          isLabelPrinted:
            type: boolean
          unit:
            type: string
          externalNumber:
            type: string
          initialVolume:
            type: number
            format: double
          collectionInstructions:
            description: Collection instructions from all tests current tube
            type: array
            items:
              $ref: '#/definitions/CodedEntity'

  RequisitionSpecimen:
    title: Requisition specimen model
    allOf:
      - $ref: '#/definitions/BaseEntity'
      - type: "object"
        properties:
          caseIdentifier:
            type: integer
            format: int64
          collectionPlace:
            type: integer
            format: int64
          type:
            type: string
          typeName:
            type: string
          collectedDate:
            type: string
            format: date-time
          collectedBy:
            type: string
          receivedDate:
            type: string
            format: date-time
          receivedBy:
            type: string
          status:
            type: string
          priority:
            $ref: '#/definitions/Priority'
          tubeList:
            type: array
            items:
              $ref: '#/definitions/RequisitionTube'
          drawType:
            type: string
          drawTypeName:
            type: string
          labToCollect:
            type: string
          keypadCode:
            type: string
          bodySite:
            type: string
          bodySiteName:
            type: string
          isToBeCollectedDate:
            type: boolean
          isCollected:
            type: boolean
          isGeneric:
            type: boolean
          collectedVolume:
            type: number
            format: double
          collectedUnit:
            type: string
          collectionLocation:
            $ref: '#/definitions/CodedEntity'
          drawTypeData:
            $ref: '#/definitions/CodedEntity'

  ResultDeltaSetup:
    title: ResulDelta setup model
    x-codegen-accessors: true
    properties:
      deltaTime:
        type: integer
        format: int32
      deltaUnit:
        type: string
      deltaRules:
        type: array
        items:
          $ref: '#/definitions/DeltaRule'

  ResulKeypad:
    title: ResulKeypad model
    properties:
      code:
        type: string
      name:
        type: string
      levelslevels:
        type: array
        items:
          $ref: '#/definitions/ResulKeypadLevel'
      activeWhenFocused:
        type: boolean
      displayAsDropDown:
        type: boolean

  ResulKeypadActionType:
    type: string
    enum:
      - Text
      - Test
      - CannedMessage
      - NextKeypad
      - BenchTest
      - RapidTest
      - Media
      - Isolate
      - Workup
      - FocusLastAdded
      - PrevKeypad
      - PurityMedia
      - DrugInterpretation

  ResulKeypadAction:
    title: ResulKeypadAction model
    properties:
      value:
        type: string
      displayValue:
        type: string
      type:
        $ref: '#/definitions/ResulKeypadActionType'
      visible:
        type: boolean

  ResulKeypadItem:
    title: ResulKeypadItem model
    properties:
      keyCode:
        type: string
      title:
        type: string
      preview:
        type: string
      actions:
        type: array
        items:
          $ref: '#/definitions/ResulKeypadAction'
      addKeyText:
        type: boolean
      separator:
        type: string
      separatorManual:
        type: string
      nextKeypadCode:
        type: string

  ResulKeypadLevel:
    title: ResulKeypad model
    properties:
      code:
        type: string
      name:
        type: string
      level:
        type: string
      type:
        $ref: '#/definitions/ResulKeypadType'
      autoMove:
        type: boolean
      operation:
        type: string
      items:
        type: array
        items:
          $ref: '#/definitions/ResulKeypadItem'

  ResulKeypadType:
    type: string
    enum:
      - DrugResult
      - DrugInterpretation
      - TestComment
      - BatchResulting
      - MediaResulting
      - WorkupResulting
      - WorkupQuantity
      - IsolateQuantity
      - WorkupColony
      - BenchTest
      - RapidTest
      - Workup

  ResultRangeCondition:
    title: Result range condition model
    x-codegen-accessors: true
    properties:
      category:
        type: string
      position:
        type: integer
        format: int32
      type:
        $ref: '#/definitions/CodeName'
      value:
        type: string
      valueFrom:
        type: number
        format: double
      valueTo:
        type: number
        format: double

  ResultRangeSetup:
    title: Result range setup model
    x-codegen-accessors: true
    properties:
      code:
        type: string
      gender:
        type: string
      ageInUnitsTo:
        type: integer
        format: int64
      ageUnitTo:
        type: string
      ageInUnitsFrom:
        type: integer
        format: int64
      ageUnitFrom:
        type: string
      reportNormalRange:
        type: string
      conditions:
        type: array
        items:
          $ref: '#/definitions/ResultRangeCondition'
      links:
        type: object
        additionalProperties:
          type: array
          items:
            type: string

  SingleSearchResults:
    title: Single Search Results model
    properties:
      patientsData:
        type: array
        items:
          $ref: '#/definitions/PatientData'
      orderNumber:
        type: string
      isTooManyRecordsFound:
        type: boolean

  Source:
    title: Specimen model
    properties:
      code:
        type: string
      name:
        type: string
      keypadCode:
        type: string
      acceptanceType:
        type: string
      isGeneric:
        type: boolean
      bodySites:
        type: array
        items:
          $ref: '#/definitions/BodySite'

  SetupPhysician:
    title: Physician setup model
    properties:
      id:
        type: string
      title:
        $ref: '#/definitions/Dictionary'
      upin:
        type: string
      npi:
        type: string
      lastName:
        type: string
      firstName:
        type: string
      middleName:
        type: string
      active:
        type: boolean
      orderingKeypad:
        type: string

  SetupSpecimen:
    title: Setup specimen model
    properties:
      code:
        type: string
      name:
        type: string
      isGeneric:
        type: boolean
      system:
        type: string
      keypadCode:
        type: string

  SetupTestDefinition:
    title: TestDefinition setup model
    properties:
      id:
        type: integer
        format: int64
      code:
        type: string
      name:
        type: string
      codeWithVersion:
        type: string
      group:
        type: boolean
      individuallyOrdered:
        type: boolean
      secondaryId:
        type: string
      synonym:
        type: string
      components:
        type: array
        items:
          $ref: '#/definitions/SetupTestDefinition'
      loinc:
        type: string
      testType:
        $ref: '#/definitions/TestType'

  SpecimenCollectionRequest:
    title: Specimen Collection Schedule Option model
    properties:
      collectNow:
        type: boolean
      toBeCollectedDateTime:
        type: string
        format: date-time
      toBeCollectedBy:
        $ref: '#/definitions/Collector'

  SpecimenCollectionScheduleOption:
    title: Specimen Collection Schedule Option model
    properties:
      daysOfMonth:
        type: string
      months:
        type: string
      daysOfWeek:
        type: boolean
      collectionTimes:
        type: string

  RequisitionTest:
    title: Test model
    allOf:
      - $ref: '#/definitions/BaseEntity'
      - type: "object"
        properties:
          caseIdentifier:
            type: integer
            format: int64
          testCode:
            type: string
          testName:
            type: string
          testCodeVersion:
            type: string
          testType:
            $ref: '#/definitions/TestType'
          #      testStatus:
          #        $ref: '#/definitions/TestStatus'
          extensionNumber:
            type: integer
            format: int32
          performingDepartmentCode:
            type: string
          performingWorkstationCode:
            type: string
          parentId:
            type: integer
            format: int64
          components:
            type: array
            items:
              $ref: '#/definitions/RequisitionTest'
          parentOrderNumber:
            type: string
          isCancelled:
            type: boolean
          cancellationReason:
            type: string
          cancellationComment:
            type: string
          testPriority:
            $ref: '#/definitions/Priority'
          reportToDoctors:
            type: array
            items:
              $ref: '#/definitions/SetupPhysician'
          orderingDoctors:
            type: array
            items:
              $ref: '#/definitions/SetupPhysician'
          position:
            type: integer
            format: int64
          duplicationTest:
            type: integer
            format: int64
          absorptionTest:
            type: integer
            format: int64
          parentSwapped:
            type: boolean
          reflexPanel:
            type: integer
            format: int64
          requisitionReflexPanel:
            type: integer
            format: int64
          systemType:
            type: string
          micReflexStatus:
            type: string
          cancelBy:
            type: string
          testLevelIndications:
            type: array
            items:
              $ref: '#/definitions/Indication'
          mediaList:
            type: array
            items:
              $ref: '#/definitions/Media'
          diagnoses:
            type: array
            items:
              $ref: '#/definitions/Diagnosis'
          redirectionTest:
            type: integer
            format: int64

  TestCodeVersionWithStatus:
    title: Test code version with status model
    properties:
      testCodeVersion:
        type: string
#      testStatus:
#        $ref: '#/definitions/TestStatus' #TestStatus enum

  TestRedirectionData:
    title: Test redirection data model
    properties:
      testId:
        type: integer
        format: int64
      newWksCode:
        type: string
      newDepCode:
        type: string

  TestRedirectionOrder:
    title: Test redirection order model
    properties:
      testRedirectionData:
        type: array
        items:
          $ref: '#/definitions/TestRedirectionData'
      testList:
        type: array
        items:
          $ref: '#/definitions/RequisitionTest'
      specimenList:
        type: array
        items:
          $ref: '#/definitions/RequisitionSpecimen'
      testSpecimenAttachments:
        type: array
        items:
          $ref: '#/definitions/TestSpecimenAttach'
      testTubeAttachments:
        type: array
        items:
          $ref: '#/definitions/TestTubeAttach'

  TestResultFieldSetup:
    title: Test result field setup model
    x-codegen-accessors: true
    properties:
      name:
        type: string
      code:
        type: string
      type:
        type: string
      unit:
        type: string
      defaultValue:
        type: string
      loincCode:
        type: string
      resultRanges:
        type: array
        items:
          $ref: '#/definitions/ResultRangeSetup'
      deltaSetups:
        type: array
        items:
          $ref: '#/definitions/ResultDeltaSetup'
      deltaSetup:
        $ref: '#/definitions/ResultDeltaSetup'

  TestSearchResult:
    title: Test search result model
    properties:
      testCodeVersion:
        type: array
        items:
          $ref: '#/definitions/TestSetupIdentifier'
      totalCount:
        type: integer
        format: int32
    x-codegen-accessors: true

  TestSetupIdentifier:
    title: Test setup identifier model
    properties:
      code:
        type: string
      name:
        type: string
      codeversion:
        type: string
      codeVersion:
        type: string
    x-codegen-accessors: true

  TestSources:
    title: Test sources model
    properties:
      testCodeVersion:
        type: string
      testCode:
        type: string
      testName:
        type: string
      system:
        type: string
      specimens:
        type: array
        items:
          $ref: '#/definitions/Source'
      tubes:
        type: array
        items:
          $ref: '#/definitions/Source'
      preferableTube:
        type: string
      preferableAliquote:
        type: string
      checkOnlyNonAccItems:
        type: boolean

  TestSpecialCasesSetup:
    title: Test special cases setup model
    x-codegen-accessors: true
    properties:
      patientType:
        type: string
      ageInUnitsTo:
        type: integer
        format: int64
      ageUnitTo:
        type: string
      ageInUnitsFrom:
        type: integer
        format: int64
      ageUnitFrom:
        type: string
      separateCollectionContainer:
        type: boolean
      separateAliquotContainer:
        type: boolean
      volumeNeeded:
        type: number
        format: double
      addupVolume:
        type: number
        format: double
      volumeUnit:
        type: string
      preferableTube:
        $ref: '#/definitions/TubeSetup'
      aliquotTube:
        $ref: '#/definitions/TubeSetup'
      preferableSpecimen:
        $ref: '#/definitions/CatalogSpecimenSetup'

  TestSpecimenAttach:
    title: Test specimen attach model
    properties:
      testId:
        type: integer
        format: int64
      specimenId:
        type: integer
        format: int64

  TestTubeAttach:
    title: Test tube attach model
    properties:
      testId:
        type: integer
        format: int64
      tubeId:
        type: integer
        format: int64

  TestType:
    type: string
    enum:
      - A
      - N
      - S
      - B
      - C
      - P
      - O
      - G
      - R
      - M
      - U
      - K
      - E
      - D
      - Y
      - CLINICAL
      - ICR
      - MICROBIOLOGY
      - MIC_PANEL
    x-enumNames:
      - ANALISIS
      - ANALYTE
      - STAIN
      - PROBE
      - CULTURE_REQUEST
      - PANEL
      - SEND_OUT
      - GROUP
      - PROCESSING_ONLY
      - MARKER
      - SUPERPANEL
      - MARKERSET
      - RESULT_ELEMENT
      - DIFFERENTIAL
      - ARRAY
      - CLINICAL
      - ICR
      - MICROBIOLOGY
      - MIC_PANEL

  TubeSetup:
    title: Tube setup model
    x-codegen-accessors: true
    properties:
      code:
        type: string
      name:
        type: string

  UserChoice:
    title: User choice model
    properties:
      code:
        type: string
      name:
        type: string
      userChoiceItemList:
        type: array
        items:
          $ref: '#/definitions/UserChoiceItem'

  UserChoiceItem:
    title: User choice item model
    properties:
      code:
        type: string
      name:
        type: string
      active:
        type: boolean

  UserDefinedField:
    title: User Defined Field model
    properties:
      recid:
        $ref: '#/x-common-columns/recid'
      orderRecid:
        type: integer
        format: int64
      orderNumber:
        type: string
      patientRecid:
        type: integer
        format: int64
      fieldSetup:
        $ref: '#/definitions/UserDefinedFieldSetup'
      requisitionRecid:
        type: integer
        format: int64
      visitRecid:
        type: integer
        format: int64
      ownerType:
        $ref: '#/definitions/UserDefinedFieldOwnerType'
      ownerRecid:
        type: integer
        format: int64
      testCodeVersions:
        type: array
        items:
          type: string
      fieldValues:
        type: array
        items:
          $ref: '#/definitions/UserDefinedFieldOwnerType'
      variations:
        type: array
        items:
          $ref: '#/definitions/UserDefinedField'

  UserDefinedFieldLevel:
    type: string
    enum:
      - T
      - O
    x-enumNames:
      - TEST
      - ORDER

  UserDefinedFieldOwnerType:
    type: string
    enum:
      - P
      - O
      - R
      - RP
      - S
      - RS
      - V
      - RV
      - T
      - RT
    x-enumNames:
      - PATIENT
      - ORDER
      - REQUISITION
      - REQUISITION_PATIENT
      - SPECIMEN
      - REQUISITION_SPECIMEN
      - VISIT
      - REQUISITION_VISIT
      - TEST
      - REQUISITION_TEST

  UserDefinedFieldPromptType:
    type: string
    enum:
      - NONE
      - MANDATORY_ACC
      - MANDATORY_RELEASE
      - MANDATORY_COLLECT
      - MANDATORY_RECEIVE
      - PROMPT_ACC
      - PROMPT_RELEASE
      - PROMPT_COLLECT
      - PROMPT_RECEIVE

  UserDefinedFieldSetup:
    title: User Defined Field setup model
    properties:
      recid:
        $ref: '#/x-common-columns/recid'
      code:
        type: string
      refCode:
        type: string
      name:
        type: string
      level:
        $ref: '#/definitions/UserDefinedFieldLevel'
      userChoice:
        $ref: '#/definitions/UserChoice'
      fieldType:
        $ref: '#/definitions/UserDefinedFieldType'
      promptType:
        $ref: '#/definitions/UserDefinedFieldPromptType'
      choices:
        type: array
        items:
          type: string
      reportableFrom:
        type: number
        format: double
      reportableTo:
        type: number
        format: double
      decimalPlaces:
        type: integer
        format: int32
      defaultValue:
        type: string
      dateTime:
        type: boolean

  UserDefinedFieldType:
    type: string
    enum:
      - N
      - B
      - L
      - A
      - D
      - S
      - Z
      - IN
      - R
      - RM
      - TQ
      - C
      - T
    x-enumNames:
      - NUMERIC
      - CHECK_BOX
      - CHOICE_FIELD
      - USER_DEFINED_CHOICE
      - DATE
      - SHORT_TEXT
      - MULTILINE_TEXT
      - INSTOTUTIONS
      - BROWSER
      - MULTI_SELECTION_BROWSER
      - TQC
      - CALCULATED_FIELD
      - RTF

  UserDefinedFieldValue:
    title: User Defined Field value model
    properties:
      recid:
        $ref: '#/x-common-columns/recid'
      stringValue:
        type: string
      position:
        type: integer
        format: int32
      data:
        type: string

  Visit:
    title: Visit model
    properties:
      recid:
        $ref: '#/x-common-columns/recid'
      admittedOn:
        type: string
        format: date-time
      dischargedOn:
        type: string
        format: date-time
      billingNumber:
        type: string
      clinic:
        type: string
      clinicName:
        type: string
      room:
        type: string
      bed:
        type: string
      attendingDoctor:
        type: string
      attendingDoctorFirstName:
        type: string
      attendingDoctorLastName:
        type: string
      admittingDoctor:
        type: string
      admittingDoctorFirstName:
        type: string
      admittingDoctorLastName:
        type: string
      consultingDoctor:
        type: string
      consultingDoctorFirstName:
        type: string
      consultingDoctorLastName:
        type: string
      primaryDiagnosis:
        type: string
      primaryDiagnosisName:
        type: string
      secondaryDiagnosis:
        type: string
      secondaryDiagnosisName:
        type: string
      tertiaryDiagnosis:
        type: string
      tertiaryDiagnosisName:
        type: string
      clinicContact:
        type: string
      clinicContactPhone:
        type: string
      clinicContactPhoneExt:
        type: string
      chartNumber:
        type: string
      type:
        type: string
      visitSubtype:
        type: string
      admissionType:
        type: string
      visitNumber:
        type: string
      medicalService:
        type: string
      comment:
        type: string
      secondaryID:
        type: string
      secondaryFirstName:
        type: string
      secondaryLastName:
        type: string

  VisitsBatch:
    title: Visit batch model
    properties:
      visits:
        type: array
        items:
          $ref: '#/definitions/Visit'
      hasMoreItems:
        type: boolean

  VisitBriefInfo:
    title: Visit Brief Info model
    properties:
      billingNumber:
        type: string
      admissionDateTime:
        type: string
        format: date-time
      visitClinic:
        type: string
      attendingDoctor:
        type: string
      patientType:
        type: string
      comment:
        type: string
      dischargeDateTime:
        type: string
        format: date-time

  VisitHeader:
    title: Visit header model
    properties:
      billingNumber:
        type: string
      admissionDateTime:
        type: string
        format: date-time
      clinicName:
        type: string
      doctorFirstName:
        type: string
      doctorLastName:
        type: string
      patientType:
        type: string

  VisitOrderInfo:
    title: Visit order info model
    properties:
      orderNumber:
        type: string
      priority:
        type: string
      billingNumber:
        type: string
      orderingPhysician:
        $ref: '#/definitions/OrderPhysician'
      orderedDT:
        type: string
        format: date-time
      orderedTests:
        type: string

  Workstation:
    title: Workstation setup model
    properties:
      code:
        type: string
      name:
        type: string
      departmentCode:
        type: string
