swagger: "2.0"
info:
  version: 4.1.12-02-SNAPSHOT
  title: LIS Web OE Api
  description: "Contracts for WEB OE rest services"

host: "lv3.isd.dp.ua:7701"

basePath: "/gcm/web/app/oe"

produces:
  - "application/json"

tags:
  - name: setup
    description: Setup  service
    x-cache-control: 300
  - name: employee setup
    description: Setup emploee services
  - name: choice
    description: Choice services
    x-cache-control: 86400
  - name: test catalog setup
    description: Test catalog setup services
  - name: insurance
    description: Insurance services
  - name: medical necessity
    description: Medical Necessity Service
  - name: options
    description: Options Service
  - name: order
    description: Order Service
  - name: patient
    description: Patients Service
  - name: visit
    description: Visit Service
  - name: requisition
    description: Requisition Service
  - name: search
    description: Search Service
  - name: user defined field
    description: User defined field Service
  - name: user defined field setup
    description: User defined field setup Service
  - name: billing validator
    description: Billing validator service
  - name: mrn validator
    description: MRN validator service

paths:
  /setup/clinics:
    $ref: 'setup.yaml#/paths/~1clinics'
  /setup/patient-clients:
    $ref: 'setup.yaml#/paths/~1patient-clients'
  /setup/visit-clinics:
    $ref: 'setup.yaml#/paths/~1visit-clinics'
  /setup/physicians:
    $ref: 'setup.yaml#/paths/~1physicians'
  /setup/diagnoses:
    $ref: 'setup.yaml#/paths/~1diagnoses'
  /setup/insurancecarriers:
    $ref: 'setup.yaml#/paths/~1insurancecarriers'
  /setup/testdefinitions:
    $ref: 'setup.yaml#/paths/~1testdefinitions'
  /setup/indications:
    $ref: 'setup.yaml#/paths/~1indications'
  /setup/priorities:
    $ref: 'setup.yaml#/paths/~1priorities'
  /setup/body-sites:
    $ref: 'setup.yaml#/paths/~1body-sites'
  /setup/specimens:
    $ref: 'setup.yaml#/paths/~1specimens'
  /setup/reasons:
    $ref: 'setup.yaml#/paths/~1reasons'
  /setup/test-sources:
    $ref: 'setup.yaml#/paths/~1test-sources'
  /setup/micro-medias:
    $ref: 'setup.yaml#/paths/~1micro-medias'
  /setup/drugs:
    $ref: 'setup.yaml#/paths/~1drugs'
  /setup/test-ordering-keypads:
    $ref: 'setup.yaml#/paths/~1test-ordering-keypads'
  /setup/specimen-ordering-keypads:
    $ref: 'setup.yaml#/paths/~1specimen-ordering-keypads'
  /setup/call-request-recipients:
    $ref: 'setup.yaml#/paths/~1call-request-recipients'
  /setup/qualities:
    $ref: 'setup.yaml#/paths/~1qualities'
  /setup/bodysite-result-keypad:
    $ref: 'setup.yaml#/paths/~1bodysite-result-keypad'
  /setup/insurance-group:
    $ref: 'setup.yaml#/paths/~1insurance-group'

  /setup/employees/collectors:
    $ref: 'setup-employee.yaml#/paths/~1collectors'
  /setup/employees/receivers:
    $ref: 'setup-employee.yaml#/paths/~1receivers'
  /setup/employees/for-media-plating:
    $ref: 'setup-employee.yaml#/paths/~1for-media-plating'
  /setup/employees/residents:
    $ref: 'setup-employee.yaml#/paths/~1residents'
  /setup/employees/pathologists:
    $ref: 'setup-employee.yaml#/paths/~1pathologists'

  /setup/choices/countries:
    $ref: 'setup-choices.yaml#/paths/~1countries'
  /setup/choices/languages:
    $ref: 'setup-choices.yaml#/paths/~1languages'
  /setup/choices/relation-to-insured:
    $ref: 'setup-choices.yaml#/paths/~1relation-to-insured'
  /setup/choices/relation-to-emergency:
    $ref: 'setup-choices.yaml#/paths/~1relation-to-emergency'
  /setup/choices/maritals:
    $ref: 'setup-choices.yaml#/paths/~1maritals'
  /setup/choices/ethnicities:
    $ref: 'setup-choices.yaml#/paths/~1ethnicities'
  /setup/choices/sex:
    $ref: 'setup-choices.yaml#/paths/~1sex'
  /setup/choices/races:
    $ref: 'setup-choices.yaml#/paths/~1races'
  /setup/choices/species:
    $ref: 'setup-choices.yaml#/paths/~1species'
  /setup/choices/religions:
    $ref: 'setup-choices.yaml#/paths/~1religions'
  /setup/choices/patient-types:
    $ref: 'setup-choices.yaml#/paths/~1patient-types'
  /setup/choices/admission-types:
    $ref: 'setup-choices.yaml#/paths/~1admission-types'
  /setup/choices/draw-types:
    $ref: 'setup-choices.yaml#/paths/~1draw-types'
  /setup/choices/proffesional-suffixes:
    $ref: 'setup-choices.yaml#/paths/~1proffesional-suffixes'
  /setup/choices/counties:
    $ref: 'setup-choices.yaml#/paths/~1counties'
  /setup/choices/employments:
    $ref: 'setup-choices.yaml#/paths/~1employments'
  /setup/choices/family-plans:
    $ref: 'setup-choices.yaml#/paths/~1family-plans'
  /setup/choices/payments:
    $ref: 'setup-choices.yaml#/paths/~1payments'

  /tsearch/single-test:
    $ref: 'test-catalog-setup.yaml#/paths/~1single-test'
  /tsearch/tests:
    $ref: 'test-catalog-setup.yaml#/paths/~1tests'

  /insurance/patient-insurances:
    $ref: 'insurance.yaml#/paths/~1patient-insurances'

  /medical-necessity:
    $ref: 'medical-necessity.yaml#/paths/~1'
  /medical-necessity/calculate:
    $ref: 'medical-necessity.yaml#/paths/~1calculate'

  /options/order-entry:
    $ref: 'options.yaml#/paths/~1order-entry'
  /options/patient-maintenance:
    $ref: 'options.yaml#/paths/~1patient-maintenance'

  /orders:
    $ref: 'orders.yaml#/paths/~1'
  /orders/preprocess:
    $ref: 'orders.yaml#/paths/~1preprocess'
  /orders/{number}:
    $ref: 'orders.yaml#/paths/~1{number}'
  /orders/{number}/details:
    $ref: 'orders.yaml#/paths/~1{number}~1details'
  /orders/{number}/move:
    $ref: 'orders.yaml#/paths/~1{number}~1move'

  /patients:
    $ref: 'patient.yaml#/paths/~1'
  /patients/{mrn}:
    $ref: 'patient.yaml#/paths/~1{mrn}'
  /patients/{mrn}/orders:
    $ref: 'patient.yaml#/paths/~1{mrn}~1orders'
  /{mrn}/orders/per-visit:
    $ref: 'patient.yaml#/paths/~1{mrn}~1orders~1per-visit'
  /{mrn}/requisitions:
    $ref: 'patient.yaml#/paths/~1{mrn}~1requisitions'
  /{mrn}/requisitions/initiate:
    $ref: 'patient.yaml#/paths/~1{mrn}~1requisitions~1initiate'
  /{mrn}/visits:
    $ref: 'patient.yaml#/paths/~1{mrn}~1visits'
  /{mrn}/visits/available:
    $ref: 'patient.yaml#/paths/~1{mrn}~1visits~1available'
  /{mrn}/visits/{billing}/move:
    $ref: 'patient.yaml#/paths/~1{mrn}~1visits~1{billing}~1move'
  /{mrn}/visits/range:
    $ref: 'patient.yaml#/paths/~1{mrn}~1visits~1range'
  /{mrn}/visits/count:
    $ref: 'patient.yaml#/paths/~1{mrn}~1visits~1count'

  /requisitions:
    $ref: 'requisition.yaml#/paths/~1'
  /requisitions/preprocess:
    $ref: 'requisition.yaml#/paths/~1preprocess'
  /requisitions/release:
    $ref: 'requisition.yaml#/paths/~1release'
  /requisitions/merge:
    $ref: 'requisition.yaml#/paths/~1merge'
  /requisitions/{number}/details:
    $ref: 'requisition.yaml#/paths/~1{number}~1details'

  /search/pm:
    $ref: 'search.yaml#/paths/~1pm'
  /search/ord:
    $ref: 'search.yaml#/paths/~1ord'
  /search/advanced:
    $ref: 'search.yaml#/paths/~1advanced'

  /visits/{billing}/header:
    $ref: 'visits.yaml#/paths/~1{billing}~1header'
  /visits/{billing}/merge:
    $ref: 'visits.yaml#/paths/~1{billing}~1merge'

  /user-defined-field/test-level:
    $ref: 'user-defined-field.yaml#/paths/~1test-level'

  /user-defined-field-setup:
    $ref: 'user-defined-field-setup.yaml#/paths/~1'

  /validator/billing/is-available:
    $ref: 'billing-validator.yaml#/paths/~1is-available'

  /validator/mrn/is-available:
    $ref: 'mrn-validator.yaml#/paths/~1is-available'

